.chat-main
  .main-header
    .group
      %p.group__title
        = @group.name
      %p.group__member
        - @group.users.each do |user|
          = user.name
    .btn
      %p.btn__edit
      = link_to edit_group_path(current_user), class:"edit_btn" do
        Edit 

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|  
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "input-box__image__file" 
      = f.submit "Send", class: "submit-btn"